//colors used from palette on lospec https://lospec.com/palette-list/garden18
$color-secondary: rgba(200, 150, 250, 255);
$color-primary: rgba(118, 223, 84, 255);
$color-light: rgba( 107, 220, 170, 255);
$color-white: rgba(255, 255, 255, 255);
$color-dark: rgba(0, 0, 0, 255);