//colors used from palette on lospec https://lospec.com/palette-list/garden18
$color-secondary: rgba(200, 150, 250, 255);
$color-primary: #09E85E;
$color-light: rgba( 107, 220, 170, 255);
$color-white: #FFFFFF;
$color-dark: #001011;
$color-gray: #6B7D7D;