
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $color-dark;
    //@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
}

.page-container-white{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: $color-white;
}

.scroll-view{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

h1{
    font-size: 64px;
}

.large-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color: $color-dark;
    padding-top: 20px;
    padding-bottom: 20px;
    color: $color-primary;
}

.service-container-3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 90%;
    overflow: hidden;
    background-position: 50%;
}

.large-container-primary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: $color-primary;
    color: $color-white;
    padding: 20px;
}

.large-container-primary-dynamic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: $color-primary;
    color: $color-white;
    padding: 20px;
    font-size: 50px;
    &:hover{
        background-color: $color-secondary;
        cursor: pointer;
    }
}

.character-sheet{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 90%;
}

//character cards for viewing all of a users characters
.item-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border-style: solid;
    border-color: $color-primary;
    background-color: $color-dark;
    color: $color-primary;
    font-size: 48px;
    font-weight: 700;
    margin: 10px;
}

.deck-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    border-radius: 20px;
    border-color: $color-primary;
    border-style: solid;
    background-color: $color-dark;
    color: $color-primary;
    font-size: 48px;
    font-weight: 700;
    margin: 10px;
    //&:hover{
    //    //cursor: pointer;
    //    background-color: $color-primary;
    //    color: $color-white;
    //}
}

.item-card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

//scroll containers
.scroll-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: $color-dark;
}

//containers for ability score on character sheet
.ability-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border-radius: 25px;
    background-color: $color-primary;
    margin: 5px;
}

.large-container-secondary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: $color-secondary;
    color: $color-white;
    margin: 20px;
    padding: 20px;
}

.wide-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
}

.large-container-primary-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: $color-primary;
    color: $color-white;
}

.large-container-secondary-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: $color-secondary;
    color: $color-white;
}

.medium-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 30%;
    
}

.outline-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75%;
    background-color: $color-dark;
    border: 1px solid;
    border-color: $color-primary;
    color: $color-white;
    padding: 20px;
}

.outline-container-rounded{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 75%;
    background-color: $color-dark;
    border: 1px solid;
    border-color: $color-primary;
    color: $color-white;
    border-radius: 20px;
    padding: 20px;
}

.inline-container{
    display: inline-block;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: $color-dark;
}

.middle-container{
    float: left;
    background-color: $color-dark;
    width: 50%;
    height: 100vh;
}

.left-container{
    float: left;
    //background-color: $color-dark;
    width: 10%;
    height: 100vh;
}

.colored-container{
    width: 100%;
    height: 100vh;
    background-color: $color-dark;
}

.footer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-color: $color-dark;
    //bottom: 0px;
}