.shape-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

$randomPercent: percentage(random(100) / 100);

.liquid-shape{
    background: linear-gradient(45deg, $color-secondary 0%, $color-primary 100%);
    position: absolute;
    width: 550px;
    height: 550px;
    box-shadow: 0, 0, 0px #000;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: liquid 16s ease-in-out infinite;
    //&:hover{
    //    width: 600px;
    //    height: 600px;
    //    animation: liquid 8s ease-in-out infinite;
    //}
    &-glow{
        background: linear-gradient(45deg, $color-secondary 0%, $color-primary 100%);
        position: absolute;
        width: 550px;
        height: 550px;
        box-shadow:
        0 0 18px 20px $color-primary,  /* inner white */
        0 0 19px 26px $color-secondary; /* middle magenta */
        //0 0 10px 14px #0ff; /* outer cyan */
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        animation: liquid 16s ease-in-out infinite;
    }
    &-medium{
        background: linear-gradient(45deg, $color-secondary 0%, $color-primary 100%);
        position: absolute;
        width: 300px;
        height: 300px;
        //box-shadow: 0, 0, 0px #000;
        border-radius: 80% 20% 60% 40% / 40% 60% 80% 20%;
        animation: liquid-medium 8s ease-in-out infinite;
        //background-size: 100%;
    }
}

@keyframes liquid{
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        //background-size: 100% 100%; 
    }
    25%{
        border-radius: 40% 60% 70% 30% / 70% 60% 40% 30%;
        //background-size: 200% 200%; 
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        //background-size: 300% 150%; 
    }
    75%{
        border-radius: 50% 40% 60% 70% / 40% 70% 60% 60%;
        //background-size: 150% 300%; 
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        //background-size: 100% 100%; 
    }
}

@keyframes liquid-medium{
    0%{
        border-radius: 80% 20% 60% 40%;
        background-size: 100% 100%; 
    }
    25%{
        border-radius: 30% 60% 40% 70%;
        background-size: 200% 200%; 
    }
    50%{
        border-radius: 20% 60% 40% 30%;
        background-size: 125% 100%; 
    }
    75%{
        border-radius: 60% 60% 40% 30%;
        background-size: 100% 175%; 
    }
    100%{
        border-radius: 80% 20% 60% 40%;
        background-size: 100% 100%; 
    }
}